doctype html
html
  head
    title 双方向プレゼンテーションツール
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/slide.css')
    link(rel='stylesheet', href='/css/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/jmenu.css')
    script(src='/js/jquery-1.11.1.min.js')
    script(src='/js/jquery-ui.min.js')
    script(src='/js/jMenu.jquery.min.js')
    script(src='/js/d3.js')
    script(src='/js/interface.js')
    script(src='/js/nextPage.js')
    script(src='/js/prependPage.js')
    script(src='/js/keyController.js')
    script(src='/js/removeForm.js')
    script(src='/js/setForm.js')
    script(src='/js/slideLoad.js')
    script(src='/js/createQuestion.js')
    script(src='/js/createComment.js')
    script(src='/js/reload.js')
    script(src='/js/count.js')
    script(src='/js/setCookie.js')
    script(src='/js/getCookie.js')
    script(src='/js/removeAll.js')
    script(src='/socket.io/socket.io.js')
  body
    block content
